
.container{
    width: 1600px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
/*     margin-left: 33vh;
    margin-top: 50vh; */
    margin-left: 310px;
    margin-top: 300px; 
    
  }
  .blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
  .block{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1160px;
  }

