.block{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #EDEDED;
    position: relative;
    z-index: 999;

}

.block1{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #ACD5F2;
    position: relative;
    z-index: 999;

}
.block2{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #7FA8C9;
    position: relative;
    z-index: 999;

}
.block3{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #527BA0;
    position: relative;
    z-index: 999;

}
.block4{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #254E77;
    position: relative;
    z-index: 999;
}

.mainDiv{
    overflow: hidden;
    position: relative;
}

.block :hover{
    border-width: 1px;
    border-color: black;
}
.block1 :hover{
    border-width: 1px;
    border-color: black;
}
.block2 :hover{
    border-width: 1px;
    border-color: black;
}
.block3 :hover{
    border-width: 1px;
    border-color: black;
}
.block4 :hover{
    border-width: 1px;
    border-color: black;
}
